<h1>Create your own Chubbyy 🙃</h1>

<style>
    h1 {
        font-family: "Helvetica-Neue", "Helvatica", helvetica, arial, sans-serif;
        margin: 40px;
        font-size: 24pt;
        line-height: normal;
        padding-bottom: 30px;
    }
    img.shape {
        background-color:#<%= @pet.color.hex_value %>;
    }
    div.pet-render {
        float: left;
        width: 50%;
        margin-top: 150px;
    }
    div.pet-form {
        float: left;
        width: 50%;
    }
    button {
        border: 0;
        padding: 0;
        background-color: white;
    }
    .color-button div {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
    .color-button {
        float: left;
    }
    .shape-button img {
        width: 140px;
    }
    .shape-button {
        float: left;
    }
</style>

  <div class="pet-render">
    <%= image_tag(@pet.shape.image, class:"shape") %>
  </div>

  <div class="pet-form">

    <% @shapes.each do |shape| %>

      <%= form_for(@pet) do |f| %>
        <input type="hidden" value="<%= shape.id %>"
          name="pet[shape_id]"
          id="pet_shape_id_<%= shape.id %>"/>
        <button class="shape-button" type="submit" name="commit">
          <%= image_tag(shape.image, class:"shape")%></button>

      <% end %>
    <% end %>

    <% @colors.each do |color| %>

      <%= form_for(@pet) do |f| %>
        <input type="hidden" value="<%= color.id %>"
          name="pet[color_id]"
          id="pet_color_id_<%= color.id %>"/>
        <button class ="color-button", type="submit" name="commit">
          <div style="background-color:#<%= color.hex_value %>"
          for="pet_color_id_<%= color.id %>"></div></button>

      <% end %>
    <% end %>

  </div>

<%= link_to 'Show', @pet %>
<%= link_to 'Back', pets_path %>
