<p id="notice"><%= notice %></p>

<h1>Listing Shapes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shapes.each do |shape| %>
      <tr>
        <td><%= shape.name %></td>
        <td><%= image_tag(shape.image)%></td>
        <td><%= link_to 'Show', shape %></td>
        <td><%= link_to 'Edit', edit_shape_path(shape) %></td>
        <td><%= link_to 'Destroy', shape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shape', new_shape_path %>
