<% content_for :title, "Campaigns" %>

<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

  <div class="campaigns" style="clear:both;">
    <% @campaigns.each do |campaign| %>
      <div>
        <h3><center><%= campaign.title %></center></h3><br />
        <center><%= campaign.page_id %></center>
        <div style="bottom:10px; position:absolute;">
          <%= link_to 'Show', campaign %>
          <%= link_to 'Edit', edit_campaign_path(campaign) %>
          <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
    <div>
      <h1><%= link_to '+', new_campaign_path %></h1>
    </div>
  </div>


<br>
