<% content_for :title, @campaign.title %>

<style>
  <%= @campaign.stylesheet.html_safe %>
</style>

<%= @campaign.top.html_safe %>

<p id="notice"><%= notice %></p>

<%= @campaign.body.html_safe %>

<%= @campaign.bottom.html_safe %>
